.markdown {
  display: flex;

  &-input,
  &-display {
    padding: 30px;
    width: 50%;
  }

  &-input {
    border-right: 1px solid $gray;

    textarea {
      border: none;
      height: calc(100vh - 64px);
      outline: none;
      resize: none;
      white-space: pre-wrap;
      width: 100%;
    }
  }
}